<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1 class="head">Billing Module</h1>

  <div class="card">
    <div class="cards">
      <img src="/images/customer.png" alt="Not Found">
      <br>
      <button onclick="customerform()">Add Customer</button>
    </div>

    <div class="cards">
      <!-- <img src="/images/details.png" alt="Not Found"> -->
      <img src="/images/detail.jpeg" alt="Not Found">
      <br>
      <button onclick="customerdetails()">Customer Details</button>
    </div>

    <div class="cards">
      <img src="/images/bills.jpeg" alt="Not Found">
      <br>
      <button onclick="billing()">Billing Details</button>
    </div>
  </div>

  <script>
    function customerform(){
      window.location.href = `/customerForm`;
    }

    function customerdetails(){
      window.location.href = `/CustomerDetails`;
    }

    function billing(){
      window.location.href = `/CustomerBills`;
    }
  </script>

  <script src="script.js"></script>
</body>

</html>